---
import { getCollection } from 'astro:content';
import ButtonLink from '../components/ButtonLink.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import HorizontalSeparator from '../components/HorizontalSeparator.astro';

const heading = 'My Projects';
const projects = await getCollection('project');
---

<Layout>
    <Section>
        <h1>{heading}</h1>
        {projects.map(project => (
            <div class="card">
                <img src={project.data.image} alt={project.data.title} />
                <div>
                    <h3>
                        <a href={project.data.liveSiteURL}>{project.data.title}</a>
                    </h3>
                    <p class="description">{project.data.description}</p>
                    <div class="button-container">
                        <ButtonLink href={`${project.data.githubURL}`} text="View on Github" variant="secondary" />
                        <ButtonLink href={`${project.data.liveSiteURL}`} text="View Live" />
                    </div>
                </div>
            </div>
            <HorizontalSeparator/>
        ))}
    </Section>
</Layout>

<style>
  h1 {
    text-align: left;
  }

  @media (max-width: 800px) {
    h1 {
      text-align: center;
    }
  }

  .card {
    overflow: hidden;
    display: flex;
    gap: 40px;
  }

  @media (max-width: 800px) {
    .card {
      flex-direction: column;
      text-align: center;
    }

    .card img {
      align-self: center;
    }
  }

  .card h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .card .description {
    margin-bottom: 40px;
  }

  .card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  .button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  @media (max-width: 600px) {
    .button-container {
      flex-direction: column;
      margin-inline: auto;
      text-align: center;
      align-items: center;
      gap: 10px;
    }
  }
</style>
